@media screen and (max-width:992px) {
    .latest-news-container,
    .client-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .faq-container {
        flex-direction: column;
    }

    .faq-img {
        width: 100%;
    }

    .faq-list-container {
        width: 100%;
    }

    .faq-title {
        font-size: 1.1rem;
    }
    
}

@media screen and (max-width:768px) {
    .menubar {
        display: block;
    }

    .menu-btn {
        display: none;
    }

    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-info {
        width: 100%;
    }

    .hero-img {
        width: 100%;
    }

    .feature-bike-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .latest-news-container,
    .client-card-container {
        grid-template-columns:  1fr;
    }
}

@media screen and (max-width:576px) {
    .section-title {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .feature-bike-container {
        grid-template-columns: 1fr;
    }
}