/* Font Family Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.main-color {
    color: #E76F51;
}

.btn-primary {
    background-color: #E76F51;
    color: #fff;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menubar {
    font-size: 2rem;
    color: #E76F51;
    cursor: pointer;
    display: none;
}

.container {
    width: 85%;
    margin: 0 auto;
}

/* Header Section Style */

header {
    background-color: #264653;
    padding: 30px 0px 95px;
}

/* Navbar */

nav {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    font-size: 2rem;
}

.logo span {
    color: #E76F51;
}

.menu-btn {
    display: flex;
    align-items: center;
    gap: 100px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 35px;
}

.menu li a {
    color: #fff;
    font-weight: 500;
    transition: all .3s;
}

.menu li a:hover {
    color: #E76F51;
}

/* Hero Section */

.hero-section {
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-info {
    width: 50%;
}

.hero-desc {
    font-size: .8rem;
    color: #fff;
    font-weight: 300;
    line-height: 22px;
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    margin: 15px 0px;
}

.hero-info .btn-primary {
    margin-top: 25px;
}

.hero-img {
    width: 50%;
}

.hero-img img {
    width: 100%;
}

/* Feature Bike Section */

.feature-bike {
    margin: 60px 0px 120px;
}

.section-info {
    text-align: center;
}

.section-title {
    font-size: 3rem;
    font-weight: 600;
}

.section-desc {
    font-size: 0.8rem;
    color: #E76F51;
    font-weight: 600;
}

.hr-line {
    width: 60px;
    height: 2px;
    margin: 0 auto;
    margin-top: 5px;
    background-color: #E76F51;
}

.feature-bike-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.feature-bike-img img {
    width: 100%;
}

.gary-img {
    filter: grayscale(100%);
}

/* Latest News Section Style */
.latest-news {
    margin-bottom: 120px;
}

.latest-news-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.latest-news-card {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.latest-news-card img {
    width: 100%;
}

.latest-card-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #18191F;
    margin-top: 5px;
}

.latest-card-desc {
    color: #6C6C6C;
    line-height: 28px;
    margin: 15px 0px;
}

.latest-news-card .btn-primary {
    border: 1px solid transparent;
    transition: all .3s;
}

.latest-news-card .btn-primary:hover {
    background-color: #fff;
    color: #E76F51;
    border: 1px solid #E76F51;
}

/* Happy Clients Section Style */

.happy-clients {
    margin-bottom: 120px;
}

.client-card-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.client-card {
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    padding: 35px;
    text-align: center;
}

.client-card-img img {
    width: 150px;
}

.client-card-desc {
    color: #6C6C6C;
    line-height: 26px;
    margin: 15px 0px;
}

.rating img {
    width: 15px;
    cursor: pointer;
}

.client-name {
    font-size: .8rem;
    font-weight: 600;
    color: #23A6F0;
    margin: 5px 0px;
}

.client-title {
    font-size: .8rem;
    font-weight: 600;
    color: #252B42;
}

/* FAQ Section */

.faq-section {
    margin-bottom: 120px;
}

.faq-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.faq-img {
    width: 50%;
}

.faq-img img {
    width: 100%;
}

.faq-list-container {
    width: 50%;
    display: grid;
    gap: 20px;
}

.faq-list {
    border-radius: 5px;
    border: 1px solid #D5E5FB;
    background: #FFF;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;
}

.faq-title {
    font-size: 1.25rem;
    font-weight: 500;
}

.faq-list i {
    font-size: 1.5rem;
}